<!DOCTYPE html>
<html lang="en" >
<head>
    <% include ../partials/head %>
</head>
  <body class="container" style="background : #FFCCFF;">
  <header>
      <% include ../partials/header %>
  </header><br>
  <script>
  var count = 0;
  async function trying()
  {
    var quantity = await prompt("How many do u want?", 1);
    typeof quantity
    console.log(89-54)
    console.log(quantity)
  }
    function buy(a){
      quantity = prompt("How many do u want?", 1);
      typeof quantity
      var ele = document.getElementById(a).children[0].children[1];
      console.log(ele.nodeName)
      if (ele.hasChildNodes())
      {
        //console.log("wow" + a.nodeName + a.id)
        //console.log(a.id)
        var x = []
        var children = ele.children;
        for (var i = 0 ; i < children.length ; ++i)
        {
          if (children[i].nodeName == "P")
          {
            x.push(children[i].textContent);
            console.log(children[i].nodeName)
          }
        }
        // console.log(x[2])
        // console.log(x[2].split('Price: '))
        let t = confirm("Add the item to cart??\n" + x);
        if(t)
        {
          count+=1;
          document.getElementById("productinfo").innerHTML = (count+" products in your cart");
          var obj = {
            id: a,
            productName : x[0],
            productDescription: x[1],
            price: x[2].split('Price: ')[1],
            category : x[3],
            quantity: quantity
          }
          axios.post('/customer/fetchdata', { params: { obj }} ).then((data)=>{
            console.log(data)
            alert(data.data)
          })
        }
      console.log(a)
      }
      //console.log(document.body.a.childNodes[1].nodeValue);
      console.log("ok")
    }
  </script>
  <p id="productinfo"></p>
  <br>
<!-- Page Content -->
<h5>Welcome <%= user %></h5>
<div class="container">

  <h4 class="font-weight-light text-center text-lg-left mt-4 mb-0">Products available</h4>
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
    <% products.forEach(function(product){ %>
    <div class="col-lg-3 col-md-4 col-6" id="<%= product._id.toString() %>">
      <i class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/images/<%= product.imagePath %>">
            <div class="productview">
              <br><p><%= product.productName %></p>
              <p><%= product.productDescription %></p>
              <p>Price: <%= product.price %></p>
              <p><%= product.category %></p>
              <%if ( product.quantity > 0 ) { %>
                <p>Quantity Available: <%= product.quantity %></p>
                <button type="button" class="btn btn-primary btn-sm" onclick="buy(this.parentNode.parentNode.parentNode.id)">Buy this</button>
              <% } else{ %>
                  <p>Currently Unavailable</p>
              <% } %>
            </div>
          </i>
    </div>
  <% })%>
    <!-- <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
          </a>
    </div>
  </div> -->

</div>
</div>
<!-- /.container -->
</body>
</html>
