<!DOCTYPE html>
<html lang="en" >
<head>
    <% include ../partials/head %>
</head>
  <body class="container" style="background : #FFCCFF;">
  <header>
      <% include ../partials/header %>
  </header><br>
  <script>
  var count = 0;
    function buy(a){
      quantity = prompt("How many do u want?", 1);
      console.log(document.getElementById(a).nodeName)
      var ele = document.getElementById(a).children[0].children[1];
      var maxAmount = parseInt(ele.children[4].textContent.split('Quantity Available: ')[1])
      // console.log(maxAmount)
      // console.log(typeof quantity, Number)
      if (quantity <= 0)
      {
        alert("just say u don't want it")
        return;
      }
      if (quantity > maxAmount)
      {
        alert('u cannot buy more than availability')
        return;
      }
      console.log(ele.nodeName)
      if (ele.hasChildNodes())
      {
        //console.log("wow" + a.nodeName + a.id)
        //console.log(a.id)
        var x = []
        var children = ele.children;
        for (var i = 0 ; i < children.length ; ++i)
        {
          if (children[i].nodeName == "P")
          {
            x.push(children[i].textContent);
            console.log(children[i].nodeName)
          }
        }
        // console.log(x[2])
        // console.log(x[2].split('Price: '))
        let t = confirm("Add the item to cart??\n" + x);
        if(t)
        {
          count+=1;
          document.getElementById("productinfo").innerHTML = (count+" products in your cart");
          var obj = {
            id: a,
            productName : x[0],
            productDescription: x[1],
            price: x[2].split('Price: ')[1],
            quantity: quantity
          }
          axios.post('/customer/fetchdata', { params: { obj }} ).then((data)=>{
            // console.log(data)
            // tobeupdated = data.data.quantity - quantity;
            // console.log(quantity + " is the quantity")
            // console.log(ele.children[5].textContent)
            console.log( data.data, data.data[0].cartproductid)
            var temp = parseInt(ele.children[4].textContent.split('Quantity Available: ')[1])
            // console.log(typeof ele.children[5].textContent.split('Quantity Available: ')[1] )
            var temp = temp- quantity;

            if (temp > 0)
            {
              ele.children[4].innerHTML = "<p>Quantity Available: "+temp+"</p>"
              //console.log(ele.children[4].nodeName);
            }
            else if(temp < 0)
              {
                ele.children[4].innerHTML = "<p>Currently Unavailable</p>"
              }
          })
        }
      console.log(a)
      }
      //console.log(document.body.a.childNodes[1].nodeValue);
      console.log("ok")
    }
  </script>
  <p id="productinfo"></p>
  <br>
<!-- Page Content -->
<h5>Welcome <%= user %></h5>
<div class="container">
<hr class="mt-2 mb-5">
  <h4 class="font-weight-light text-center text-lg-left mt-4 mb-0" id="electronics">Electronics</h4>
  <% if ( products.electronics.length > 0 ) { %>
  <div class="row text-center text-lg-left">
    <% products.electronics.forEach(function(prod){ %>
    <div class="col-lg-3 col-md-4 col-6" id="<%= prod._id.toString() %>">
      <i class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/images/<%= prod.imagePath %>">
            <div class="productview">
              <br><p><%= prod.productName %></p>
              <p><%= prod.productDescription %></p>
              <p>Price: <%= prod.price %></p>
              <%if ( prod.quantity > 0 ) { %>
                <p>Quantity Available: <%= prod.quantity %></p>
                <button type="button" class="btn btn-primary btn-sm" onclick="buy(this.parentNode.parentNode.parentNode.id)">Buy this</button>
              <% } else{ %>
                  <p>Currently Unavailable</p>
              <% } %>
          </div>
      </i>
    </div>
  <% })%>
</div>
<% } %>
<h4 class="font-weight-light text-center text-lg-left mt-4 mb-0" id="clothes">Clothes</h4>
<%if ( products.clothes.length > 0 ) { %>
<div class="row text-center text-lg-left">
  <% products.clothes.forEach(function(prod){ %>
  <div class="col-lg-3 col-md-4 col-6" id="<%= prod._id.toString() %>">
    <i class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="/images/<%= prod.imagePath %>">
          <div class="productview">
            <br><p><%= prod.productName %></p>
            <p><%= prod.productDescription %></p>
            <p>Price: <%= prod.price %></p>
            <%if ( prod.quantity > 0 ) { %>
              <p>Quantity Available: <%= prod.quantity %></p>
              <button type="button" class="btn btn-primary btn-sm" onclick="buy(this.parentNode.parentNode.parentNode.id)">Buy this</button>
            <% } else{ %>
                <p>Currently Unavailable</p>
            <% } %>
          </div>
        </i>
  </div>
<% })%>
</div>
<% } %>
<h4 class="font-weight-light text-center text-lg-left mt-4 mb-0" id="books">Books</h4>
<%if ( products.clothes.length > 0 ) { %>
<div class="row text-center text-lg-left">
  <% products.books.forEach(function(prod){ %>
  <div class="col-lg-3 col-md-4 col-6" id="<%= prod._id.toString() %>">
    <i class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="/images/<%= prod.imagePath %>">
          <div class="productview">
            <br><p><%= prod.productName %></p>
            <p><%= prod.productDescription %></p>
            <p>Price: <%= prod.price %></p>
            <%if ( prod.quantity > 0 ) { %>
              <p>Quantity Available: <%= prod.quantity %></p>
              <button type="button" class="btn btn-primary btn-sm" onclick="buy(this.parentNode.parentNode.parentNode.id)">Buy this</button>
            <% } else{ %>
                <p>Currently Unavailable</p>
            <% } %>
          </div>
        </i>
  </div>
<% })%>
</div>
<% } %>
<h4 class="font-weight-light text-center text-lg-left mt-4 mb-0" id="eatables">Eatables</h4>
<%if ( products.eatables.length > 0 ) { %>
<div class="row text-center text-lg-left">
  <% products.eatables.forEach(function(prod){ %>
  <div class="col-lg-3 col-md-4 col-6" id="<%= prod._id.toString() %>">
    <i class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="/images/<%= prod.imagePath %>">
          <div class="productview">
            <br><p><%= prod.productName %></p>
            <p><%= prod.productDescription %></p>
            <p>Price: <%= prod.price %></p>
            <%if ( prod.quantity > 0 ) { %>
              <p>Quantity Available: <%= prod.quantity %></p>
              <button type="button" class="btn btn-primary btn-sm" onclick="buy(this.parentNode.parentNode.parentNode.id)">Buy this</button>
            <% } else{ %>
                <p>Currently Unavailable</p>
            <% } %>
          </div>
        </i>
  </div>
<% })%>
</div>
<% } %>

</div>
<!-- /.container -->
</body>
</html>
